DinamicaMolecular/
pdbbind_dgomes.tar.gz
Postera.ai/
SARS-CoV-2/mdpocket/
SARS-CoV-2/mdpocket_6lu7_6yb7/
SARS-CoV-2/mdpocket_active/
SARS-CoV-2/mdpocket_postera/
SARS-CoV-2/pdb/casf-2016/
SARS-CoV-2/pdb/chimera/
SARS-CoV-2/pdb/downloaded/6lu7.pdb1
SARS-CoV-2/pdb/downloaded/6yb7.pdb1
SARS-CoV-2/postera.ai/backup/
SARS-CoV-2/postera.ai/files/mordred_descriptors.csv.gz
SARS-CoV-2/postera.ai/fluxogramas/
SARS-CoV-2/postera.ai/notebooks/FeatureSelection/
SARS-CoV_assay/descriptors.csv
.ipynb_chekpoints
SARS-CoV-2/postera.ai/postera_ai_02084.chemflow.tar.gz
SarsCov2DrugHunter/.metadata/
SarsCov2DrugHunter/pickle/
SarsCov2DrugHunter/activity.csv
SarsCov2DrugHunter/test_data.csv
