[submodule "pdbbind-coreset-2013"]
	path = pdbbind-coreset-2013
	url = https://github.com/caiocrocha/pdbbind-coreset-2013.git
[submodule "SarsCov2DrugHunter"]
	path = SarsCov2DrugHunter
	url = https://github.com/caiocrocha/SarsCov2DrugHunter
[submodule "SarsCov2Classifier"]
	path = SarsCov2Classifier
	url = git@github.com:caiocrocha/SarsCov2Classifier.git
